.row.justify-content-center
  .col-md-6.contents
    .row.justify-content-center
      .col-md-12
        .form-block
          .mb-4
            %h2 Trocar a senha
            = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
              = f.error_notification
              = f.input :reset_password_token, as: :hidden
              = f.full_error :reset_password_token
              .form-inputs
                = f.input :password, label: "Nova senha", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" }
                = f.input :password_confirmation, label: "Confirme a nova senha", required: true, input_html: { autocomplete: "new-password" }
              .form-actions
                = f.button :submit, "Trocar senha", class:"btn-block btn-outline-dark"
              %hr/
              = render "devise/shared/links"
