.row.justify-content-center
  .col-md-6.contents
    .row.justify-content-center
      .col-md-12
        .form-block
          .mb-4
            %h2 Login
            = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
              .form-inputs
              = f.input :email, required: false, label:false, placeholder:"E-mail", autofocus: true, input_html: { autocomplete: "email" }
              = f.input :password, required: false, label:false, placeholder:"Senha", input_html: { autocomplete: "current-password" }
              = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
              .form-actions
              = f.button :submit, "Entrar", class:"btn-block btn-outline-dark"
              %hr/
            = render "devise/shared/links"
            
